{% extends 'usuarios/nav-bars.html' %}
{% block titulo %} <title>Reporte de Cursos</title> {% endblock %}

{% block contenido %}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<div class ="row">
        <div class ="col-sm-12">
            <h1>Cursos</h1>
        </div>
    </div>
     <div class ="row">
        <div class ="col-sm-12">
            <p id ="contenedor_tipo_boton">Reporte de:</p>
        </div>
    </div>
    <br>
    <div class ="row text-center">
        <div class="col-sm-6">
            <div class="row">
                <div class="container mb-3 mt-3">
                    <table class="table table-striped table-bordered" style="width:100%;" id="mydatatable2">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Curso</th>
                            <th>Hora</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>F001</th>
                            <th>Salone1</th>
                            <th>Clase1</th>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>F002</th>
                            <th>Salone2</th>
                            <th>clase2</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class ="col-sm-6">
            <div class ="row">
                <div class ="col-sm-6">
                    <button class ="btn btn-primary buttons_reportes" id="hoy" value="hoy" onclick="">Cursos hoy</button>
                </div>
                <div class ="col-sm-6">
                    <button class ="btn btn-primary buttons_reportes" id ="semana" value="semana">Cursos en la Semana</button>
                </div>
            </div>
            <br><br>
            <div class ="row">
                <div class ="col-sm-6">
                    <button class ="btn btn-primary buttons_reportes" id="mensual" value="mensual" onclick="mes('contenedor_tipo_boton','densityChart')">Cursos en el mes</button>
                </div>
                <div class ="col-sm-6">
                    <button class ="btn btn-primary buttons_reportes" id ="anual" value="anual"onclick="year('contenedor_tipo_boton','densityChart')">Cursos en el año</button>
                </div>
            </div>
            <br>
            <br>
            <div class ="row">
                <div class ="col-sm-12">
                    <button class ="btn btn-primary buttons_reportes" onclick="rango('contenedor_tipo_boton','densityChart')">Rango de Tiempo</button>
                </div>
            </div>
        </div>

    </div>

       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $('#mydatatable2').DataTable();
    </script>
{% endblock %}
</html>