{% extends 'usuarios/nav-bars.html' %}
{% block titulo %} <title>Reporte de Usuarios</title> {% endblock %}

{% block contenido %}
 <div class ="row">
        <div class ="col-sm-12">
            <h1>Usuarios</h1>
        </div>
    </div>
     <div class ="row">
        <div class ="col-sm-12">
            <p id ="hora">Reporte de Usuarios activos: </p>
        </div>
    </div>
    <br>
    <div class ="row text-center">
        <div class ="col-sm-6">
            <div class ="row">
                <h4>El numero de <br>usuarios activos es de: {{ users_anon}}</h4>
            </div>
        </div>
        <div class ="col-sm-6">
            <div class ="row">
                <div class ="col-sm-12">
                    <a href ="{% url 'reporte' %}"><button class ="btn btn-primary buttons_reportes" id="hoy" value="hoy">Descargar reporte</button></a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
</html>