{% extends 'usuarios/nav-bars.html' %}
{% block titulo %} <title>DASHBOARD</title> {% endblock %}

{% block contenido %}
<h1>DASHBOARD</h1>
{% if error_message != "" %}
    <div class="alert alert-danger">
      <strong>Error: </strong> {{ error_message }}
    </div>
{% endif %}
<br><br>
    <div class ="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Visitas Hoy</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ users_anon }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Visitas Mes</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ users_anon }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-3">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Visitas Año</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ users_anon }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
</html>