{% extends 'usuarios/nav-bars.html' %}
{% block titulo %} <title>Perfil</title> {% endblock %}

{% block contenido %}

    <div class ="row">
        <div class ="col-sm-12">
             <h3>Informacion de usuario</h3><br>
        </div>
    </div>
    <div class ="row text-center">
        <div class ="col-sm-3">
            <h4>Nombre:</h4>
            <input value="{{request.user.username}}">
        </div>
        <div class ="col-sm-3">
            <h4>Edad:</h4>
            <input>
        </div>
        <div class ="col-sm-3">
            <h4>Departamento:</h4>
            <input>
        </div>
        <div class ="col-sm-3">
            <h4>Correo:</h4>
            <input>
        </div>
    </div>
{% endblock %}
</html>