{% extends 'usuarios/nav-bars.html' %}
{% load static %}
{% block titulo %} <title>Usuarios</title> {% endblock %}

{% block contenido %}
    <br>
    <div class="row">
        <div class="col-sm-12 text-right">
            <p>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#agregarusuario">
                    + Agregar Usuario
                </button>


                <!-- Modal -->
                <div class="modal fade" id="agregarusuario" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <br>
                            <p>
                                <h8>Selecciona al usuario que vas a agregar</h8>
                                <br><br>
                                {% for user in users_noR %}
                                    <button type="button" class="boton_modal" data-toggle="modal"
                                            data-target="#confirmar{{ user.id_usuario }}" data-dismiss="modal">
                                        {{ user.nombre }}
                                    </button>
                                    <br><br>
                                {% endfor %}
                            </p>
                </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
            </button>
        </div>

        </div>
        </div>
        </div>
        </p>
        </div>

    <br><br><br>
    {% for user in users_noR %}
        <div class="modal" tabindex="-1" role="dialog" id="confirmar{{ user.id_usuario }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmacion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta Seguro que va agregar a {{ user.nombre }} ?</p>
                    </div>
                    <div class="modal-footer">
                        <form action="addusr" method="post" >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success" id ="id-add-user" name ="id-user-add" value = "{{ user.id_usuario }}">Aceptar</button>
                        </form>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <!-- Page Heading -->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha registrado</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Modificar</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id_usuario }}</th>
                <td> {{ user.nombre_usuario }}</td>
                <td>{{ user.nombre }}</td>
                {% if user.id_usuario|get_status == 1 %}
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <buttton type="button" class="btn btn-success">
                                ON
                            </buttton>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#desactivarusuario{{ user.id_usuario }}">
                                OFF
                            </button>
                        </div>
                    </td>
                {% else %}
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#activarusuario{{ user.id_usuario }}">
                                ON
                            </button>
                            <button type="button" class="btn btn-danger">
                                OFF
                            </button>
                        </div>
                    </td>
                {% endif %}
                <td>{{ user.id_usuario|get_fecha }}</td>
                <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarusuario{{ user.id_usuario }}" >Eliminar <i
                                class="far fa-trash-alt"></i>
                        </button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning">Modificar <i class="fas fa-pencil-alt"></i></button>
                </td>
            </tr>
            <!--Modal para eliminar-->
                 <div class="modal" tabindex="-1" role="dialog" id="eliminarusuario{{ user.id_usuario }}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirmacion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Esta Seguro que va eliminar a {{ user.nombre}} ?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="eliusr" method="post" >
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success" id ="id-eli-user" name ="id-user-eli" value = "{{ user.id_usuario }}">Aceptar</button>
                                    </form>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                 </div>
            <!--Modal para Activar-->
                 <div class="modal" tabindex="-1" role="dialog" id="activarusuario{{ user.id_usuario }}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirmacion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Esta Seguro que va activar a {{ user.nombre}} ?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="actiusr" method="post" >
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success" id ="id-act-user" name ="id-user-acti" value = "{{ user.id_usuario }}">Aceptar</button>
                                    </form>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                 </div>
            <!--Modal para Desactivar-->
                 <div class="modal" tabindex="-1" role="dialog" id="desactivarusuario{{ user.id_usuario }}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirmacion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Esta Seguro que va desactivar a {{ user.nombre}} ?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="desusr" method="post" >
                                        {% csrf_token %}
                                        <select class="custom-select" id="opcion-desactivar" name="opcion-desactivar">
                                          <option value="1">Indefinidamente</option>
                                          <option value="2">Por 3 días</option>
                                          <option value="3">Por 7 días</option>
                                          <option value="4">Por 15 días</option>
                                          <option value="5">Por 30 días</option>
                                        </select>
                                        <button type="submit" class="btn btn-success" id ="id-des-user" name ="id-user-des" value = "{{ user.id_usuario }}">Aceptar</button>
                                    </form>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                 </div>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</html>