{% extends 'usuarios/nav-bars.html' %}
{% load static %}
{% block titulo %} <title>Planta Alta</title> {% endblock %}

{% block estilos %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet'/>
{% endblock %}


{% block contenido %}

    <div class="row">
        <div class="col-sm-12">
            <h1>Planta Baja</h1>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary buttons_map">Filtro 1</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary buttons_map">Filtro 2</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary buttons_map">Filtro 3</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary buttons_map">Filtro 4</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary buttons_map">Filtro 5</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary buttons_map">Filtro 6</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8">
            <div class="container_map_bajo">
                <div class ="salones_1"></div><div class ="salones_1"></div>
                <br>
                <div class ="salones_1"></div><div class ="salones_1"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <br>
           <h4>Informacion del salon: </h4>
        </div>

    </div>



    </body>
{% endblock %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
</html>